@-moz-document domain("stackoverflow.com"), domain("stackexchange.com"), domain("serverfault.com"), domain("stackapps.com"), domain("superuser.com"), url-prefix("https://stackoverflow.com/c/socvr/") {
/* nobody wants to see ads */

#hireme {
    display: none;
}
#newsletter-ad {
    display: none;
}

#question > div.js-zone-container.zone-container-sidebar {
    display: none;
}

/* Remove related questions junk moved to the middle of the page on 3.21.23 */
#inline_related_var_a_less, #inline_related_var_a_more, #inline_related_var_a_more + div {
    display: none;
}


/* New notifications don't need to be bold; they have a whole fucking background color */

.message-text .unread-bold {
    font-weight: normal !important;
}

/* hiding this because wtf */

html body.channels-page > iframe#messenger_iframe {
    display: none !important;
    visibility: hidden !important;
    position: static !important;
}

/* Hiding AI reminder because I'm not an asshole who uses AI */
.ai-content-policy-notice {
    display: none;
}

/* Making badges section more like they used to be, pre 6.23.21 */
body.user-page #badges svg {
    display: none;
}

body.user-page #badges > .d-flex > .flex--item > .d-flex > .flex--item:not(.mb12):last-child ul > li > div a, body.user-page #badges > .d-flex > .flex--item > .d-flex > .flex--item:not(.mb12):last-child ul > li > div > div {
    font-size: 12px !important;
}
body.user-page #badges > .d-flex > .flex--item > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 {
    display: flex;
    flex-flow: column;
}

body.user-page #badges > .d-flex > .flex--item > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > div {
    text-align: center;
}
body.user-page #badges > .d-flex > .flex--item > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > div:first-child {
    order: 2;
}
body.user-page #badges > .d-flex > .flex--item > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > div:last-child {
    order: 1;
}
body.user-page #badges > .d-flex > .flex--item:first-child > .d-flex > .flex--item.mb12 > .d-flex {
    border: 1px solid #f1b600;
    border-radius: 3px;
    background-color: #fff4d1;
    color: #3c4146 !important;
}
body.user-page #badges > .d-flex > .flex--item:first-child > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > .fs-caption {
    visibility: hidden;
    position: relative;
    margin-top: 4px;
}
body.user-page #badges > .d-flex > .flex--item:first-child > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > .fs-caption::after {
    content: "GOLD";
    font-weight: bold;
    color: #6a737c;
    font-size: 11px;
    visibility: visible;
    position: absolute;
    left: 0%;
    right: 0%;
}
body.user-page #badges > .d-flex > .flex--item:first-child > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > .fw-bold {
    color: #3c4146 !important;
}
body.user-page #badges > .d-flex > .flex--item:nth-child(2) > .d-flex > .flex--item.mb12 > .d-flex {
    border: 1px solid #9a9c9f;
    border-radius: 3px;
    background-color: #e8e8e8;
    color: #3c4146 !important;
}
body.user-page #badges > .d-flex > .flex--item:nth-child(2) > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > .fs-caption {
    visibility: hidden;
    position: relative;
    margin-top: 4px;
}
body.user-page #badges > .d-flex > .flex--item:nth-child(2) > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > .fs-caption::after {
    content: "SILVER";
    font-weight: bold;
    color: #6a737c;
    font-size: 11px;
    visibility: visible;
    position: absolute;
    left: 0%;
    right: 0%;
}
body.user-page #badges > .d-flex > .flex--item:nth-child(2) > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > .fw-bold {
    color: #3c4146 !important;
}
body.user-page #badges > .d-flex > .flex--item:last-child > .d-flex > .flex--item.mb12 > .d-flex {
    border: 1px solid #ab825f;
    border-radius: 3px;
    background-color: #f2e9e1;
    color: #3c4146 !important;
}
body.user-page #badges > .d-flex > .flex--item:last-child > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > .fs-caption {
    visibility: hidden;
    position: relative;
    margin-top: 4px;
}
body.user-page #badges > .d-flex > .flex--item:last-child > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > .fs-caption::after {
    content: "BRONZE";
    font-weight: bold;
    color: #6a737c;
    font-size: 11px;
    visibility: visible;
    position: absolute;
    left: 0%;
    right: 0%;
}
body.user-page #badges > .d-flex > .flex--item:last-child > .d-flex > .flex--item.mb12 > .d-flex > .flex--item.fl1 > .fw-bold {
    color: #3c4146 !important;
}

body.user-page #user-card + div > div.flex--item.fl1:nth-child(2) {
    display: flex;
    flex-direction: column;
}
#top-tags {
    order: 1;
}
#top-posts {
    order: 2;
}
#badges {
    order: 3;
}

/* font-family fixes */

header, header ol, div.topbar-dialog, .topbar-dialog .modal-content .message-text h4, div#content, div#question-header a, div.s-prose, span.comment-copy, div.summary *, footer, aside, div > div.tag-popup * {
    font-family: Arial, sans-serif !important;
}

body#chat-body, body#transcript-body {
    font-family: Verdana, Arial, sans-serif !important;
}

code, pre, .post-editor textarea, .wmd-container textarea, div.post-layout > div > div.diffs > div div.markdown-diff *, .full-diff .content {
    font-family: Consolas, monospace !important;
}

#content {
    width: calc(100% - 150px);
}

/* home page question title font-size fix. Why is it so big? */
.s-post-summary div h3.s-post-summary--content-title {
    font-size: 16px !important;
}

/* line-height fix */
.s-prose {
    line-height: 1.3 !important;
}

/* code block fixes: scrollbar, background color, stupid border-radii... you name it */
pre:not(.CodeMirror-line) {
    /*background-color: var(--black-050) !important; */
    /* replacing the above line with a new one since they changed --black-050 to white or got rid of it or something */
    background-color: rgb(246, 246, 246);
    scrollbar-color: var(--scrollbar) !important;
    border-radius: 0px !important;
    padding: 12px 8px !important;
}

/* body width fix; they stole 24px of width from the body. If only common sense took over and we could have like 50% to 75% of the screen width for reading  */
#sidebar {
    margin-left: 0px;
}
#mainbar {
    width: calc(100% - 315px);
}

/* link fix */
#content a {
    text-decoration: none !important;
}
.s-anchors.s-anchors__default.s-anchors__visited a:not(.s-link), .s-anchors .s-anchors.s-anchors__default.s-anchors__visited a:not(.s-link) {
    color: #07C;
}

/* links as code fix */
a code {
    color: var(--blue-700) !important;
}

/* quote background reversion to yellow */
.s-prose blockquote { 
    /*background: var(--yellow-050) !important;*/ /*commenting out as it is overridden by new styles as of October 19 2023 */
}

/* Repetitive HNQ test removal */
div#qlist-wrapper.js-tech-sites-questions {
    display: none;
}

/* new contributor noise removal */
#post-editor .new-contributor-indicator, form[id^="add-comment-"] .new-contributor-indicator {
    display: none;
}

.js-add-comment-message {
    display: none;
}

/* orange border that looks like a loading bar at top of site removal */
header.s-topbar {
    border-top: none !important;
}

/* -- flag modal and close modal sections below -- */
/* revert close votes remaining and submit vote/cancel button position*/
div#popup-close-question form div.popup-actions span {
    order: 1;
    flex: 1 1 auto;
    text-align: left;
}
div#popup-close-question form div.popup-actions button.js-popup-submit {
    order: 2;
    padding: 1em;
}
div#popup-close-question form div.popup-actions button.js-popup-close {
    order: 3;
}
/* revert the removal of color from number of existing close votes per reason */
div#popup-close-question form span[title="number of votes already cast"] {
    background-color: var(--blue-500);
    color: white;
    font-weight: bold;
    border: none;
}
div#popup-close-question form ul.action-list li:nth-child(2) .grid--cell:not(.fl1) label span.js-action-name::before {
    content: "Off-Topic (";
    visibility: visible;
}
div#popup-close-question form ul.action-list li:nth-child(2) .grid--cell:not(.fl1) label span.js-action-name::after {
    content: ")";
    visibility: visible;
}
div#popup-close-question form ul.action-list li:nth-child(2) .grid--cell:not(.fl1) label p, div#popup-close-question form ul.action-list li:nth-child(2) .grid--cell:not(.fl1) label span {
    visibility: visible;
}
/* revert the flags remaining and the submit flag/cancel button position */
div#popup-flag-post form div.popup-actions span {
    order: 1;
    flex: 1 1 auto;
}
div#popup-flag-post form div.popup-actions button.js-popup-submit {
    order: 2;
}
div#popup-flag-post form div.popup-actions button.js-popup-close {
    order: 3;
}

/* revert the flag modal "needs improvement" message */
div#question div#popup-flag-post form ul.action-list li:nth-child(3):not(:last-of-type) span.action-name::before {
    visibility: visible;
    content: "should be closed";
}
div#question div#popup-flag-post form ul.action-list li:nth-child(3):not(:last-of-type) span.action-name {
    visibility: hidden;
}
div#question div#popup-flag-post form ul.action-list li:nth-child(3):not(:last-of-type) span.action-desc::before {
    visibility: visible;
    content: "This question should be closed in its current state for one reason or another.";
}
div#question div#popup-flag-post form ul.action-list li:nth-child(3):not(:last-of-type) span.action-desc {
    visibility: hidden;
}


/* restoring right-aligned authors on questions page */

body.home-page #question-mini-list div.summary h3 + div {
    width: 100%;
}

/* removing the thanks bullshit */
div.js-reactions {
    display: none;
}

/* removing MORE advertising for themselves */
.teams-promo {
    display: none;
}

/* because Sam has dropped off the face of the Earth, I have to disable ReduceClutter due to bugs. This is to hide the "edit" button on closure notices that was hidden by ReduceClutter.js */

aside.s-notice > div + div:last-child {
    display: none;
}

/* Same as above, but to hide the "products" link on the top bar */

header.s-topbar > div > a + ol:first-of-type {
    display: none !important;
}

/* Review Queue leader board padding reduction */

.p8 {
    padding: 5px !important;
}

/* restoring normal size questions on the /questions page */

#mainbar a.question-hyperlink {
    font-size: 1.2rem;
}

/* */
/* hiding Collectives stuff */
/* */

/* hides the collective nonsense on the right sidebar */
#sidebar > div.s-sidebarwidget.js-join-leave-container {
    display: none;
}
#sidebar > .sidebar-subcommunity {
    display: none;
}

/* hides the "recommended by <collective>" crap */
.js-endorsements {
    display: none;
}

/* hides the trophy for Collectives ranking next to usernames in user cards*/
div.user-details > a[href^="/collectives"] {
    display: none;
}

ul.s-user-card--awards li a[href^="/collectives/"] {
    display: none;
}

/* hides collective buttons on the tag line */
a.subcommunity-topic-avatar {
    display: none;
}
div.js-community-icons {
    display: none;
}


/* */
/* Next Badge Modal resizing to sensible size */
/* */

#js-select-badge-contents > div {
    max-width: 900px;
    max-height: 620px !important;
}

#js-select-badge-contents div div div.js-badge-list-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
#js-select-badge-contents div div div.js-badge-list-container button {
    height: 150px;
}
#js-select-badge-contents div div div.js-badge-list-container button > span {
    font-size: 12px !important;
}

/* */
/* what the fuck */
/* */

.s-topbar--content li:nth-child(3) .s-activity-indicator, .s-topbar--content li:nth-child(4) .s-activity-indicator {
    border-radius: 2px !important; /* 1000px? Really? */
    top: calc(50% - 20px) !important;
    right: 0px !important;
}

.s-topbar--item:hover .s-activity-indicator {
    top: calc(50% - 14px) !important;
}

.s-topbar--content > li > a > span.s-activity-indicator {
    transition: none !important; /* why is there a transition on here? */
}

/* */
/* Hiding horrendous Collectives spam
/* */
#question-header + div.d-flex > div.flex--item:nth-of-type(4n) {
    display: none;
}
#left-sidebar ol.nav-links li ol.nav-links > div[class*="js-collectives-"] {
    display: none;
}

/* */
/* Renaming bookmarks back to saves jfc */
/* */
#mainbar-full > div.js-user-header:nth-child(2) > div > a.s-navigation--item:nth-child(3) {
    visibility: hidden;
}
#mainbar-full > div.js-user-header:nth-child(2) > div > a.s-navigation--item:nth-child(3)::before {
    content: "Bookmarks";
    visibility: visible;
    position: relative;
    margin-right: -35px;
    border-radius: 1000px;
    padding: var(--su6) var(--su12);
}
#mainbar-full > div.js-user-header:nth-child(2) > div > a.s-navigation--item:nth-child(3):hover::before {
    background: var(--black-075);
    color: var(--black-600);
    border-radius: 1000px;
    padding: var(--su6) var(--su12);
    margin-right: -35px;
}

/* bookmark color revision */

button.js-saves-btn > .svg-icon.js-saves-btn-selected path {
    fill: gold !important;
}


/* Testing sticky voting block */

#answers .votecell .js-voting-container {
    position: sticky;
    top: 100px;
    z-index: 1; /* why... why did they set everything to z-index: 0 on 12/19/22?! */
}
/* Fixes the width of the tooltips which broke due to sticky positioning */
div.js-voting-container button.js-vote-up-btn + div.s-popover[role="tooltip"] {
    min-width: 150px;
    text-align: center;
    padding: 11px;
}
div.js-voting-container button.js-vote-down-btn + div.s-popover[role="tooltip"] {
    min-width: 170px;
    text-align: center;
    padding: 11px;
}
.js-voting-container div.js-vote-count + div.s-popover[role="tooltip"] {
    min-width: 217px;
}
button.js-saves-btn + div.s-popover {
    min-width: 128px;
}
a.js-post-issue + div.s-popover {
    min-width: 140px;
}


/* reverting ugly styling of inbox */

div.js-inbox-notifications ul > li.read-item {
    background-color: inherit; /* gets rid of grey background on read items */
}
div.js-inbox-notifications .unread-bold {
    font-weight: normal !important;
}

/* Fixing color of ignored content so I don't feel color blind */

div[id^="question-summary-"].s-post-summary__ignored {
    opacity: 0.6;
}
div[id^="question-summary-"].s-post-summary__ignored:hover {
    opacity: 1;
}

.s-post-summary__ignored .s-post-summary--meta-tags a, .s-post-summary__ignored .s-post-summary--meta-tags .post-tag {
    color: rgb(156, 193, 219) !important;
    background-color: rgb(61, 73, 81) !important;
}

.s-post-summary__ignored .s-post-summary--content-title > a {
    color: rgb(51, 167, 255) !important;
}

/* increasing the height of stack snippet iframe because come on */
.snippet-code .snippet-result .snippet-result-code {
    height: 500px;
}

/* restoring font of title to Arial in pending edit review modal window */
div.post-layout > div > div.diffs > div > div.markdown-diff .fs-title span {
    font-family: Arial, sans-serif !important;
}

/* fixes bold tag and gives them a bit of size and shape again */
.s-tag {
    font-weight: 100 !important;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

/* hides "recognized by" noise */
div.post-signature div.affiliate-badge {
    display: none;
}

/* Hiding bottom notice added on 2025-03-11 that repeats content already present on the page */
.js-bottom-notice {
    display: none !important;
}
}

@-moz-document url-prefix("https://stackoverflow.com/review/close/stats") {
/* Review Queue numbering to see what place each person is in */

#content > div.d-flex > div.flex--item > div.d-flex.ff-row-wrap > div.flex--item:first-child {
    border-right: 1px solid grey;
    padding-right: 5px;
}

table.w100 {
    counter-reset: section;
}
table.w100 tbody tr td:first-child::before { 
    counter-increment: section;
    content: counter(section) ".";
    position: relative;
    top: 32px;
    right: 12px;
}
table.w100 tbody tr td.va-middle.p8 {
    padding: 0px !important;
}

/* hiding Sam's entry in the Reviewers list because he's a dirty cheater */
div.d-flex.ff-row-wrap > div.flex--item:nth-child(2) > table.w100 tr:nth-child(6) { /* Will need to update when Sam's position changes. */
    display: none;
}
}

@-moz-document url-prefix("https://stackoverflow.com/users/") {

/* Hide Favorites, Following, and Articles post sections from the summary tab of user profiles */

.user-page .container #content #user-panel-following, .user-page .container #content #user-panel-bookmarks, .user-page .container #content #user-panel-articles {
    display: none;
}
.user-page .container #content #user-panel-accounts {
    margin-right: 30px;
}
.user-page .container #content #user-panel-badges {
    margin-right: 0px;
}
}

@-moz-document domain("chat.stackoverflow.com"), domain("chat.stackexchange.com") {
.message a:hover {
    text-decoration: underline;
}
}

@-moz-document url("https://stackoverflow.com/users/flag-summary/2756409"), url("https://meta.stackexchange.com/users/flag-summary/253521") {
#mainbar>div:first-child {
    display: none;
}

}

@-moz-document url-prefix("https://stackoverflow.com/") {
/* announcements box fix so it doesn't look like puke */

.s-sidebarwidget.s-sidebarwidget__yellow .s-sidebarwidget--header {
    background-color: #9e883b;
}

.s-sidebarwidget.s-sidebarwidget__yellow {
    background-color: #3d3d3d;
}

/* header sizing fix that broke on 2024-12-06 */
.s-sidebarwidget__yellow .s-sidebarwidget--header {
    padding: 12px;
    padding-bottom: 8px;
}
}

@-moz-document url-prefix("https://stackoverflow.com") {
.js-sidebar-zone {
    display: none;
}

/* fixing user card color */
div.post-signature.owner {
    background-color: rgb(60,60,60);
}
}

@-moz-document domain("stackexchange.com") {
/* Fixing color of the top bar icons on stackexchange.com sites with a black topbar, because white is ugly */

.s-topbar ol.s-topbar--content li:not(:nth-child(2)) .s-topbar--item { /* Exclude the reputation amount list item */
    color: lightgray;
}
}

@-moz-document url-prefix("https://meta.stackoverflow.com") {
/* Fixing color of the top bar icons on meta.stackoverflow.com because dark grey is ugly */

.s-topbar ol.s-topbar--content li:not(:nth-child(2)) .s-topbar--item { /* Exclude the reputation amount list item */
    color: gray;
}
}
