@-moz-document url-prefix("https://stackoverflow.com/"), url-prefix("https://meta.stackoverflow.com") {
nav[role="navigation"] > ol.nav-links > li > ol.nav-links {
    display: flex; /* making a flex container to allow reordering */
    flex-direction: column;
}
nav[role="navigation"] > ol.nav-links > li {
    display: none !important;
}
nav[role="navigation"] > ol.nav-links > li:nth-child(1) {
    display: block !important;
}
nav[role="navigation"] > ol.nav-links > li:nth-child(1) > ol.nav-links > li.pb24:nth-child(5) {
    display: none !important; /* hides unnecessary space */
}
nav[role="navigation"] > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(6) {
    display: none !important; /* hides saves */
}
nav[role="navigation"] > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(8) {
    display: none !important; /* hides Companies */   
}
nav[role="navigation"] > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(n + 9) {
    display: none !important; /* hides everything else, like collectives and discussions */
}
nav[role="navigation"] > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(1) {
    order: 1;
}
nav[role="navigation"] > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(2) {
    order: 2;
}
nav[role="navigation"] > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(4) {
    order: 3;
}
nav[role="navigation"] > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(7) {
    order: 4;
}
nav[role="navigation"] > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(3) {
    order: 5;
}
