@-moz-document url-prefix("https://stackoverflow.com/"), url-prefix("https://meta.stackoverflow.com") {
#left-sidebar nav > ol.nav-links > li > ol.nav-links {
    display: flex; /* making a flex container to allow reordering */
    flex-direction: column;
}
#left-sidebar nav > ol.nav-links > li {
    display: none !important;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) { /* Should be Top Questions */
    display: block !important;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li.pb24:nth-child(8) {
    display: none !important; /* hides unnecessary space */
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(3) {
    display: none !important; /* hides AI Assist  */
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(7) {
    display: none !important; /* hides Saves */
}
/*#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(7) {
    display: none !important; /* hides Discussions */   /* Update 2025-07-10 apparently Discussions isn't on the sidebar anymore? */
/*}*/
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(9) {
    display: none !important;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(n + 12) {
    display: none !important; /* hides everything else, like collectives and discussions */
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(1) > a > div > span {
    order: 1;
    visibility: hidden;
    font-size: 1px;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-of-type(1) > a > div > span::after { /* Should be Top Questions */
    content:"Top Questions"; /* replaces the span with more descriptive label */
    right:-50px;
    order: 1;
    visibility: visible;
    display: block;
    font-size: 13px;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-of-type(2) > a > div > span { /* Should be All Questions */
    order: 2;
    visibility: hidden;
    font-size: 1px;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(2) > a > div > span::after {
    content:"All Questions"; /* replaces the span with more descriptive label */
    right: -50px;
    order: 2;
    visibility: visible;
    display: block;
    font-size: 13px;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(6) { /* Should be Tags */
    order: 5;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(4) { /* Should be Staging Ground */
    order: 6;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(9) { /* Should be Chat */
    order: 3;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-of-type(11) { /* Should be Users */
    order: 4;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-of-type(10) { /* hides Articles */
    display: none !important;
} 
}
