@-moz-document url-prefix("https://stackoverflow.com/"), url-prefix("https://meta.stackoverflow.com") {
#left-sidebar nav > ol.nav-links > li > ol.nav-links {
    display: flex; /* making a flex container to allow reordering */
    flex-direction: column;
}
#left-sidebar nav > ol.nav-links > li {
    display: none !important;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) {
    display: block !important;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li.pb24:nth-child(5) {
    display: none !important; /* hides unnecessary space */
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(6) {
    display: none !important; /* hides saves */
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(8) {
    display: none !important; /* hides Companies */   
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(n + 9) {
    display: none !important; /* hides everything else, like collectives and discussions */
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(1) > a > div > span {
    order: 1;
    visibility: hidden;
    font-size: 1px;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(1) > a > div > span::after {
    content:"Top Questions"; /* replaces the span with more descriptive label */
    right:-50px;
    order: 1;
    visibility: visible;
    display: block;
    font-size: 13px;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(2) > a > div > span {
    order: 2;
    visibility: hidden;
    font-size: 1px;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(2) > a > div > span::after {
    content:"All Questions"; /* replaces the span with more descriptive label */
    right: -50px;
    order: 2;
    visibility: visible;
    display: block;
    font-size: 13px;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(3) {
    order: 3;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(4) {
    order: 5;
}
#left-sidebar nav > ol.nav-links > li:nth-child(1) > ol.nav-links > li:nth-child(7) {
    order: 4;
}

}
